<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro Clientes</title>
</head>
<body>
    <h2>Cadastro de Clientes</h2>
    <form method="POST">
        {% csrf_token %}
        
        <!--
        Usuario <input type="text" name="username" required /> </br><br>
        Nome <input type="text" name="first_name" required /> </br><br>
        Ultimo Nome <input type="password" name="last_name" required /> 
        Email <input type="text" name="email" required />
        Senha <input type="password" name="senha" required />
        -->
        {{ cadClie }}
        <br><br>
        <button type="submit">Cadastrar</button>
        <a href="{% url 'index' %}"><button type="button" class="btn btn-success">Index</button></a>
        
    </form>
</body>
</html>