<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
<br>
    {% if user.is_authenticated %}
    <h2>Olá {{ user.username }} </h2>
    <h2>Email: {{ user.email }} </h2>

<br>
<br>
    <table border="1px">
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Descrição</th>
        </tr>     
        {% for cli in clientes %}
            <tr>
                <td>{{ cli.nome }}</td>
                <td>{{ cli.email }}</td>
                <td>{{ cli.descricao}}</td>
            </tr> 
                  
        {% endfor %}
    </ul>
    </table>
    <br>

    <a href="form/"><button type="button" class="btn btn-success">Transacoes</button></a>
    <a href="catform/"><button type="button" class="btn btn-success">Categoria</button></a>

    <a href="{% url 'logout' %}"><button type="button" class="btn btn-success">Logout</button></a>
    
    {% else %}
    <h3>Você não está logado</h3>
    <a href="{% url 'login' %}"><button type="button" class="btn btn-success">Fazer o login</button></a>
    {% endif %}

</body>
</html>