<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Index</title>
</head>
<body>
<br>
    <!--Verificando se o usuario está logado -->
    {% if user.is_authenticated %}
        {% if user.is_staff == 0 %}
            <p> Você não é super </p>
        {% else %}
            <p>Você é superuser</p>
        {% endif %}
    <h4>Bem-Vindo {{ user.username }} </h4>

<br>

    <form >
        Digite o cnpj <input type="number" name="pesquisa"/>
        <button type="text" class="btn btn-default">Fazer uma consulta</button>
    </form>

    <table class="table">
            <thead>
              <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Cnpj</th>
                    <th scope="col">Nome da Empresa</th>
              </tr>
            </thead>
            <tbody>
                    {% for cli in clientes %}
                    <tr>
                        <td>{{ cli.nome }}</td>
                        <td>{{ cli.email }}</td>
                        <td>{{ cli.descricao}}</td>
                        <td>{{ cli.cnpj }}</td>
                        <td>{{ cli.nomeEmpresa}} </td>
                    </tr> 
                          
                {% endfor %}
              
            </tbody>
          </table>
        <br>
    
        <div style="margin:0 auto;">
            <a href="form/"><button type="button" class="btn btn-success">Transacoes</button></a>
            <a href="catform/"><button type="button" class="btn btn-success">Categoria</button></a>
        
            <a href="{% url 'logout' %}"><button type="button" class="btn btn-success">Logout</button></a> 
        </div>
    
    
    {% else %}
    <h3>Você não está logado</h3>
    <a href="{% url 'login' %}"><button type="button" class="btn btn-success">Fazer o login</button></a>
    {% endif %}

</body>
</html>